* {
    background-color: red;
    color: white;
    font-size: 17px;
}

html, body {
    height: 100vh;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.button {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0; /* spacing between buttons */
}

.button:hover {
    text-decoration: underline;
    text-decoration-color: #fff;      /* Set the underline color explicitly */
    text-decoration-thickness: 1px;   /* Optional: control thickness */
    text-underline-offset: 2px; 
}

img {
    width: 220px;
    height: auto;
}